.container-ranking-section{
    background-image: url("../../../assets/images/backgrounds/ranking.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 95% !important;
    height: 550px;
    margin: 0 auto 1rem;
    padding: 7rem 1rem 1rem 1rem;
}

.minigame-image{
   width: clamp(250px, 30vw, 400px);
}

@media screen and (max-width: 899px) {
    .container-ranking-section{
        height: max-content;
    }
}