.title-ranking{
    position: absolute;
    top: 0;
    display: flex;
}

.title-ranking-top, .title-ranking-bottom{
    font-size: 65px !important;
    color: white;
    text-shadow: rgb(30, 95, 110) 3px 0px 0px,
      rgb(30, 95, 110) 2.83487px 0.981584px 0px,
      rgb(30, 95, 110) 2.35766px 1.85511px 0px,
      rgb(30, 95, 110) 1.62091px 2.52441px 0px,
      rgb(30, 95, 110) 0.705713px 2.91581px 0px,
      rgb(30, 95, 110) -0.287171px 2.98622px 0px,
      rgb(30, 95, 110) -1.24844px 2.72789px 0px,
      rgb(30, 95, 110) -2.07227px 2.16926px 0px,
      rgb(30, 95, 110) -2.66798px 1.37182px 0px,
      rgb(30, 95, 110) -2.96998px 0.42336px 0px,
      rgb(30, 95, 110) -2.94502px -0.571704px 0px,
      rgb(30, 95, 110) -2.59586px -1.50383px 0px,
      rgb(30, 95, 110) -1.96093px -2.27041px 0px,
      rgb(30, 95, 110) -1.11013px -2.78704px 0px,
      rgb(30, 95, 110) -0.137119px -2.99686px 0px,
      rgb(30, 95, 110) 0.850987px -2.87677px 0px,
      rgb(30, 95, 110) 1.74541px -2.43999px 0px,
      rgb(30, 95, 110) 2.44769px -1.73459px 0px,
      rgb(30, 95, 110) 2.88051px -0.838247px 0px;
}

.title-ranking-bottom{
    margin-left: 1rem !important;
}

.container-ranking-section{
    position: relative;
    background-image: url("../../../assets/images/backgrounds/ranking.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 95% !important;
    height: 570px;
    margin: 5rem auto 1rem;
    padding: 7rem 1rem 1rem 1rem;
}

.minigame-image{
   width: clamp(250px, 30vw, 400px);
}

@media screen and (max-width: 899px) {
    .container-ranking-section{
        height: max-content;
    }
    .title-ranking{
        top: 3%;
    }
}

@media screen and (max-width: 400px) {
    .title-ranking{
        top: 2%;
        flex-direction: column;
        align-items: center;
    }

    .title-ranking-top, .title-ranking-bottom{
        font-size: 40px !important;
    }
}