.container-tabs{
    background-image: url('../../assets/images/backgrounds/coins.png');
    background-size: 95% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 999;
    padding: 1rem;
    position: fixed;
    top: 70px !important;
    left: 0;
    right: 0;
}

.MuiTabs-indicator {
    display: none;
  }