.user-cards{
    background-image: url('../../../assets/dropdown.png');
    background-size: 100% 100%;
}

.user-username-background{
    background-image: url('../../../assets/button.png');
    background-size: 100% 100%;
    padding: 1rem;
}

.user-coins-background{
    background-image: url('../../../assets/boton.png');
    background-size: 100% 100%;
    padding: 1rem;
}

.game-image{
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    box-shadow: 0px 20px 20px black;
}

.background-score{
    background-image: url('../../../assets/dropdown.png');
    background-size: 100% 100%;
    width: 200px;
}

.last-user-cards, .container-last-user-cards{
    width: 9vw !important;
}

@media screen and (max-width: 1280px) {
    .last-user-cards, .container-last-user-cards {
      width: 10vw !important;
    }
  }
  
  @media screen and (max-width: 960px) {
    .last-user-cards, .container-last-user-cards {
      width: 13vw !important;
    }
  }
  
  @media screen and (max-width: 600px) {
    .last-user-cards, .container-last-user-cards {
      width: 25vw !important;
    }
  }