.user-cards {
  background-image: url("../../../assets/images/backgrounds/dropdown.png");
  background-size: 100% 100%;
}

.user-username-background {
  background-image: url("../../../assets/images/backgrounds/bluebutton.png");
  background-size: 100% 100%;
  padding: 1rem;
}

.user-coins-background {
  background-image: url("../../../assets/images/backgrounds/yellowbutton.png");
  background-size: 100% 100%;
  padding: 1rem;
}

.game-image {
  height: 250px;
  width: 400px;
}

.score-text{
  position: absolute;
  bottom: -1%;
  color: white;
  font-weight: bolder !important;
  letter-spacing: 5px !important;
  font-size: 4dvh !important;
  text-shadow: -1px 2px 2px black;
}

.last-user-cards,
.container-last-user-cards {
  width: 9vw !important;
}

@media screen and (max-width: 1280px) {
  .last-user-cards,
  .container-last-user-cards {
    width: 10vw !important;
  }

  .game-image {
    height: 100%;
    width: 95%;
  }

  .score-text{
    bottom: -10px;
    font-size: 3dvw !important;
  }
}

@media screen and (max-width: 960px) {
  .last-user-cards,
  .container-last-user-cards {
    width: 13vw !important;
  }

  .game-image {
    height: 100%;
    width: 95%;
  }

  .score-text{
    bottom: -5px;
    font-size: 2.5dvw !important;
  }
}

@media screen and (max-width: 600px) {
  .last-user-cards,
  .container-last-user-cards {
    width: 25vw !important;
  }

  .game-image {
    height: 100%;
    width: 100%;
  }

  .score-text{
    bottom: -3px;
    font-size: 6dvw !important;
  }
}
