.container-store {
  background-image: url("../../assets/dropdown.png");
  background-size: 100% 100%;
  padding: 2rem!important;
}

.container-chest {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: -5px 5px 10px black;
}

.chest-image {
  height: 120px !important;
  width: auto;
  margin: 1rem 0;
  animation: pulseChest 3s infinite alternate;
}

.chest-title {
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bolder;
  text-shadow: -2px 2px 2px darkslategray;
  padding: 5px;
  background-color: black;
}

.chest-description {
  text-align: center;
  font-weight: bolder;
  height: 50px;
}

.chest-button {
  width: 100%;
  border-radius: 5px;
  background-color: black;
  text-shadow: -2px 2px 2px darkslategray;
  color: white;
  border: none;
  padding: 0.5rem;
  font-weight: bolder;
  cursor: pointer;
}

.buy-animation {
  animation: zoomAndFadeOut 2s forwards;
}

.border-Normal {
  border: #737373 solid 3px;
}
.border-Raro {
  border: #676adb solid 3px;
}
.border-Épico {
  border: #bb4991 solid 3px;
}
.border-Legendario {
  border: #986f25 solid 3px;
}

.border-card {
  border: #1a2754 solid 3px;
}

.background-Normal {
  background-color: #737373;
}

.background-Raro {
  background-color: #676adb;
}

.background-Épico {
  background-color: #bb4991;
}

.background-Legendario {
  background-color: #986f25;
}

.background-card {
  background-color: #1a2754;
}

@keyframes zoomAndFadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(3);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

@keyframes pulseChest {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
