.container-store {
  background-image: url("../../assets/images/backgrounds/dropdown.png");
  background-size: 100% 100%;
  padding: 2rem !important;
}

.container-chest {
  display: flex;
  flex-direction: column;
}

.chest-image {
  height: 250px !important;
  width: auto;
  margin: 0.5rem 0;
  animation: pulseChest 3s infinite alternate;
}

.chest-button {
  background-image: url("../../assets/images/backgrounds/yellowbutton.png");
  background-size: 100% 100%;
  width: 100%;
  color: black;
  text-shadow: 1px 1px 1px white;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
}

.price {
  color: white;
  text-shadow: rgb(30, 95, 110) 3px 0px 0px,
    rgb(30, 95, 110) 2.83487px 0.981584px 0px,
    rgb(30, 95, 110) 2.35766px 1.85511px 0px,
    rgb(30, 95, 110) 1.62091px 2.52441px 0px,
    rgb(30, 95, 110) 0.705713px 2.91581px 0px,
    rgb(30, 95, 110) -0.287171px 2.98622px 0px,
    rgb(30, 95, 110) -1.24844px 2.72789px 0px,
    rgb(30, 95, 110) -2.07227px 2.16926px 0px,
    rgb(30, 95, 110) -2.66798px 1.37182px 0px,
    rgb(30, 95, 110) -2.96998px 0.42336px 0px,
    rgb(30, 95, 110) -2.94502px -0.571704px 0px,
    rgb(30, 95, 110) -2.59586px -1.50383px 0px,
    rgb(30, 95, 110) -1.96093px -2.27041px 0px,
    rgb(30, 95, 110) -1.11013px -2.78704px 0px,
    rgb(30, 95, 110) -0.137119px -2.99686px 0px,
    rgb(30, 95, 110) 0.850987px -2.87677px 0px,
    rgb(30, 95, 110) 1.74541px -2.43999px 0px,
    rgb(30, 95, 110) 2.44769px -1.73459px 0px,
    rgb(30, 95, 110) 2.88051px -0.838247px 0px;
}

.buy-animation {
  animation: zoomAndFadeOut 2s forwards;
}

@keyframes zoomAndFadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(3);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

@keyframes pulseChest {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
