.navbar-layout {
    background-color: transparent !important;
    box-shadow: none !important;
    background-image: url('../../assets/images/backgrounds/navbar.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 85px;
    position: sticky !important;
    top: 0 !important;
}

.coins-background {
    background-image: url('../../assets/images/backgrounds/coins.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 140px;
    text-align: center;
}