.container-weekly-offers {
  margin: 1rem auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.title-weekly-offers {
  min-width: 200px;
  text-align: center;
  margin: 2rem auto !important;
  padding: 0 7px;
  color: white;
  text-shadow: rgb(30, 95, 110) 3px 0px 0px,
    rgb(30, 95, 110) 2.83487px 0.981584px 0px,
    rgb(30, 95, 110) 2.35766px 1.85511px 0px,
    rgb(30, 95, 110) 1.62091px 2.52441px 0px,
    rgb(30, 95, 110) 0.705713px 2.91581px 0px,
    rgb(30, 95, 110) -0.287171px 2.98622px 0px,
    rgb(30, 95, 110) -1.24844px 2.72789px 0px,
    rgb(30, 95, 110) -2.07227px 2.16926px 0px,
    rgb(30, 95, 110) -2.66798px 1.37182px 0px,
    rgb(30, 95, 110) -2.96998px 0.42336px 0px,
    rgb(30, 95, 110) -2.94502px -0.571704px 0px,
    rgb(30, 95, 110) -2.59586px -1.50383px 0px,
    rgb(30, 95, 110) -1.96093px -2.27041px 0px,
    rgb(30, 95, 110) -1.11013px -2.78704px 0px,
    rgb(30, 95, 110) -0.137119px -2.99686px 0px,
    rgb(30, 95, 110) 0.850987px -2.87677px 0px,
    rgb(30, 95, 110) 1.74541px -2.43999px 0px,
    rgb(30, 95, 110) 2.44769px -1.73459px 0px,
    rgb(30, 95, 110) 2.88051px -0.838247px 0px;
}

.weekly-offers {
  height: 150px;
  background-image: url("../../../assets/images/weeklyOffers.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}

.container-go-store {
  position: relative;
}

.card-weekly-offers {
  transition: all ease-in-out 0.2s;
}

.offert-image {
  position: absolute;
  width: 200px;
  top: 2%;
}

@media screen and (max-width: 899px) {
  .offert-image {
    width: 120px;
    top: 8%;
  }
}

@media screen and (max-width: 599px) {
  .offert-image {
    top: 0;
  }
}
