.title-game-section{
  min-width: 200px;
  text-align: center;
  margin: 2rem auto !important;
  padding: 0 7px;
  color: white;
  text-shadow: rgb(30, 95, 110) 3px 0px 0px,
    rgb(30, 95, 110) 2.83487px 0.981584px 0px,
    rgb(30, 95, 110) 2.35766px 1.85511px 0px,
    rgb(30, 95, 110) 1.62091px 2.52441px 0px,
    rgb(30, 95, 110) 0.705713px 2.91581px 0px,
    rgb(30, 95, 110) -0.287171px 2.98622px 0px,
    rgb(30, 95, 110) -1.24844px 2.72789px 0px,
    rgb(30, 95, 110) -2.07227px 2.16926px 0px,
    rgb(30, 95, 110) -2.66798px 1.37182px 0px,
    rgb(30, 95, 110) -2.96998px 0.42336px 0px,
    rgb(30, 95, 110) -2.94502px -0.571704px 0px,
    rgb(30, 95, 110) -2.59586px -1.50383px 0px,
    rgb(30, 95, 110) -1.96093px -2.27041px 0px,
    rgb(30, 95, 110) -1.11013px -2.78704px 0px,
    rgb(30, 95, 110) -0.137119px -2.99686px 0px,
    rgb(30, 95, 110) 0.850987px -2.87677px 0px,
    rgb(30, 95, 110) 1.74541px -2.43999px 0px,
    rgb(30, 95, 110) 2.44769px -1.73459px 0px,
    rgb(30, 95, 110) 2.88051px -0.838247px 0px;
}

.container-game-section {
  width: 100vw;
  height: 800px;
  padding: 1rem;
  margin: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.roulette-minigame {
  height: 150px;
  background-image: url("../../../assets/images/minigames/lucky-wheel.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}

.container-left-minigame, .container-right-minigame {
  position: relative;
  margin-top: -15rem !important;
}

.left-minigame {
  position: absolute;
  background-image: url("../../../assets/images/backgrounds/dropdown.png");
  background-size: 100% 100%;
  left: 10%;
  width: 250px;
  height: 300px;
  z-index: 1;
  -webkit-animation: shake-vertical 5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-vertical 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
}

.base-image-left {
  position: absolute;
  height: 100px;
  width: 250px;
  left: 10%;
  bottom: 20%;
}

.right-minigame {
  position: absolute;
  background-image: url("../../../assets/images/backgrounds/dropdown.png");
  background-size: 100% 100%;
  right: 10%;
  width: 250px;
  height: 300px;
  z-index: 1;
  -webkit-animation: shake-vertical 5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-vertical 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
}

.base-image-right {
  position: absolute;
  height: 100px;
  width: 250px;
  right: 10%;
  bottom: 0;
  bottom: 20%;
}

@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 399px) {
  .title-game-section{
    margin-top: -20rem !important;
  }
}

@media screen and (max-width: 600px) {
  .container-game-section {
    height: fit-content;
  }
  .roulette-minigame{
    height: 80px;
  }
  .container-right-minigame, .container-left-minigame {
    margin-top: 3rem !important;
  }
  .left-minigame,
  .right-minigame,
  .base-image-left,
  .base-image-right {
    position: initial;
  }
}
