.container-game-section {
  width: 100vw;
  height: 800px;
  padding: 1rem;
  margin: 3rem auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.roulette-minigame {
  height: 150px;
  background-image: url("../../../assets/images/minigames/lucky-wheel.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}

.container-left-minigame, .container-right-minigame {
  position: relative;
  margin-top: -15rem !important;
}

.left-minigame {
  position: absolute;
  background-image: url("../../../assets/images/backgrounds/dropdown.png");
  background-size: 100% 100%;
  left: 10%;
  width: 250px;
  height: 300px;
  z-index: 1;
  -webkit-animation: shake-vertical 5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-vertical 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
}

.base-image-left {
  position: absolute;
  height: 100px;
  width: 250px;
  left: 10%;
  bottom: 20%;
}

.right-minigame {
  position: absolute;
  background-image: url("../../../assets/images/backgrounds/dropdown.png");
  background-size: 100% 100%;
  right: 10%;
  width: 250px;
  height: 300px;
  z-index: 1;
  -webkit-animation: shake-vertical 5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-vertical 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
}

.base-image-right {
  position: absolute;
  height: 100px;
  width: 250px;
  right: 10%;
  bottom: 0;
  bottom: 20%;
}

@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 399px) {
  .container-game-section {
    margin-top: -10rem;
  }
}

@media screen and (max-width: 600px) {
  .container-game-section {
    height: fit-content;
  }
  .roulette-minigame{
    height: 80px;
  }
  .container-right-minigame, .container-left-minigame {
    margin-top: 3rem !important;
  }
  .left-minigame,
  .right-minigame,
  .base-image-left,
  .base-image-right {
    position: initial;
  }
}
